body {
  font-size: 1.1rem;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  border: 1px solid rgba(220, 20, 60, 0.338);
  width: 400px;
  height: 400px;
  margin: 0 auto;
  /*padding-left: 30px;*/
  /*padding-top: 40px;*/
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 2px dashed rgba(0, 128, 0, 0.285);
}

.vcenter {
  line-height: 360px;
  /* height- top padding - bottom padding */
  /* 400 - 20 - 20 = 360 */
  /* cmd / */
}

span {
  color: blueviolet;
  display: none;
}
 ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
 }